h1 {
   font-family: 'Montserrat'; 
   text-align: center;
   color:white;
}

.s1{
    background: url('../images/one.jpg');
    background-size: cover;

   
}

.s2{
    background: url('../images/two.jpg');
    background-size: cover;

    
}